<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                                http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    id="WebApp_ID" version="3.1">

    <!-- ########################################################################################### -->
    <!-- ############### BEGIN COMMON ############################################################## -->
    <!-- ########################################################################################### -->

    <welcome-file-list>
        <welcome-file>WelcomeServlet</welcome-file>
    </welcome-file-list>

    <servlet>
        <description>Willkommensseite</description>
        <display-name>WelcomeServlet</display-name>
        <servlet-name>WelcomeServlet</servlet-name>
        <servlet-class>com.prodato.norma.demo.tomcat.servlet.WelcomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WelcomeServlet</servlet-name>
        <url-pattern>/WelcomeServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>Zentrales Menu. Wird für unterschiedliche Branches über XML-Dateien gepflegt</description>
        <display-name>MenuServlet</display-name>
        <servlet-name>MenuServlet</servlet-name>
        <servlet-class>com.prodato.norma.demo.tomcat.servlet.MenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/menu</url-pattern>
    </servlet-mapping>
    
    <!-- TODO funktionierte nicht im Database-Branch f76425e -->
    <!-- <filter>
        <filter-name>ExceptionHandlingFilter</filter-name>
        <filter-class>com.prodato.norma.demo.tomcat.utils.ExceptionHandlingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ExceptionHandlingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> -->


    <!-- ########################################################################################### -->
    <!-- ############### END COMMON ################################################################ -->
    <!-- ########################################################################################### -->

    <!-- ########################################################################################### -->
    <!-- ############### BEGIN DATABASE ############################################################ -->
    <!-- ########################################################################################### -->

    <servlet>
        <description>Dient als Treiber für den Zugriff auf die HSQLDB-Datenbank</description>
        <display-name>HyperSQLServlet</display-name>
        <servlet-name>HyperSQLServlet</servlet-name>
        <servlet-class>com.prodato.norma.demo.tomcat.servlet.HsqlServlet</servlet-class>
        <init-param>
            <param-name>hsqldb.server.database</param-name>
            <param-value>mem:tomcatdemo</param-value> <!-- Eine In-Memory Datenbank mit Namen tomcatdem -->
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>HyperSQLServlet</servlet-name>
        <url-pattern>/HSQLDB</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>Einfaches Code-Demo für die Hsql-DB</description>
        <display-name>SqlDemoServlet</display-name>
        <servlet-name>SqlDemoServlet</servlet-name>
        <servlet-class>com.prodato.norma.demo.tomcat.servlet.SqlDemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SqlDemoServlet</servlet-name>
        <url-pattern>/SqlDemoServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <description>Einfaches Code-Demo für die JPA mit EclipseLink</description>
        <display-name>JpaDemoServlet</display-name>
        <servlet-name>JpaDemoServlet</servlet-name>
        <servlet-class>com.prodato.norma.demo.tomcat.servlet.JpaDemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JpaDemoServlet</servlet-name>
        <url-pattern>/JpaDemoServlet</url-pattern>
    </servlet-mapping>


    <!-- ########################################################################################### -->
    <!-- ############### END DATABASE ############################################################## -->
    <!-- ########################################################################################### -->

</web-app>
